{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <h1 class="text-center mb-4 text-white">Atualizar Usuário</h1>
                <div class="card" style="background-color: #333;">
                    <div class="card-body">
                        <form action="{{ url_for('atualizar_usuario', id=usuario.id) }}" method="POST">
                            <div class="form-group">
                                <label for="nome" style="color: black;">Nome:</label>
                                <input type="text" class="form-control" id="nome" name="nome" value="{{ usuario.nome }}" required>
                            </div>
                            <div class="form-group">
                                <label for="sobrenome" style="color: black;">Sobrenome:</label>
                                <input type="text" class="form-control" id="sobrenome" name="sobrenome" value="{{ usuario.sobrenome }}" required>
                            </div>
                            <div class="form-group">
                                <label for="email" style="color: black;">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" value="{{ usuario.email }}" required>
                            </div>
                            <div class="form-group">
                                <label for="password" style="color: black;">Password:</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="form-group">
                                <label for="celular" style="color: black;">Celular:</label>
                                <input type="text" class="form-control" id="celular" name="celular" value="{{ usuario.celular }}" required>
                            </div>
                            <div class="form-group">
                                <label for="id_empresa" style="color: black;">Empresa:</label>
                                <select class="form-control" id="id_empresa" name="id_empresa">
                                    {% for empresa in empresas %}
                                        <option value="{{ empresa.id }}" {% if empresa.id == usuario.id_empresa %}selected{% endif %}>{{ empresa.nome_contato }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="cargo" style="color: black;">Cargo:</label>
                                <input type="text" class="form-control" id="cargo" name="cargo" value="{{ usuario.cargo }}" required>
                            </div>
                            <div class="form-group">
                                <label for="status" style="color: black;">Status:</label>
                                <select class="form-control" id="status" name="status">
                                    <option value="ativo" {% if usuario.status == 'ativo' %}selected{% endif %}>Ativo</option>
                                    <option value="inativo" {% if usuario.status == 'inativo' %}selected{% endif %}>Inativo</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Atualizar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
