{% extends "base.html" %}

{% block content %}
    <h1>Atualizar OKR</h1>
    <form action="{{ url_for('atualizar_okr', id=okr.id) }}" method="POST">
        <label for="empresa">Empresa:</label><br>
        <select id="empresa" name="empresa">
            {% for empresa in empresas %}
                <option value="{{ empresa.id }}" {% if empresa.id == okr.id_empresa %} selected {% endif %}>{{ empresa.nome_contato }}</option>
            {% endfor %}
        </select><br>
        <label for="objetivo_1">Objetivo 1:</label><br>
        <input type="text" id="objetivo_1" name="objetivo_1" value="{{ okr.objetivo_1 }}"><br>
        <label for="objetivo_2">Objetivo 2:</label><br>
        <input type="text" id="objetivo_2" name="objetivo_2" value="{{ okr.objetivo_2 }}"><br>
        <label for="objetivo_3">Objetivo 3:</label><br>
        <input type="text" id="objetivo_3" name="objetivo_3" value="{{ okr.objetivo_3 }}"><br>
        <label for="objetivo_4">Objetivo 4:</label><br>
        <input type="text" id="objetivo_4" name="objetivo_4" value="{{ okr.objetivo_4 }}"><br>
        <label for="objetivo_5">Objetivo 5:</label><br>
        <input type="text" id="objetivo_5" name="objetivo_5" value="{{ okr.objetivo_5 }}"><br>
        <input type="submit" value="Atualizar">
    </form>
{% endblock %}
