{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <h2 class="text-center mb-4 text-white">Atualizar OKR</h2>
                <div class="card" style="background-color: #333;">
                    <div class="card-body">
                        <form action="{{ url_for('atualizar_okr', id=okr.id) }}" method="POST">
                            <div class="form-group">
                                <label for="empresa" style="color: white;">Empresa:</label>
                                <select class="form-control" id="empresa" name="empresa">
                                    {% for empresa in empresas %}
                                        <option value="{{ empresa.id }}" {% if empresa.id == okr.id_empresa %} selected {% endif %}>{{ empresa.nome_contato }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Aqui você adiciona o select para o squad -->
                            <div class="form-group">
                                <label for="squad" style="color: white;">Squad:</label>
                                <select class="form-control" id="squad" name="squad" required>
                                    {% for squad in squads %}
                                        <option value="{{ squad.id }}" {% if squad.id == okr.squad_id %} selected {% endif %}>{{ squad.nome_squad }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="objetivo" style="color: white;">Objetivo:</label>
                                <input type="text" class="form-control" id="objetivo" name="objetivo" value="{{ okr.objetivo }}" required>
                            </div>
                            <div class="form-group">
                                <label for="data_inicio" style="color: white;">Data de início do ciclo:</label>
                                <input type="date" class="form-control" id="data_inicio" name="data_inicio" value="{{ okr.data_inicio.strftime('%Y-%m-%d') }}" required>
                            </div>
                            <div class="form-group">
                                <label for="data_fim" style="color: white;">Data de fim do ciclo:</label>
                                <input type="date" class="form-control" id="data_fim" name="data_fim" value="{{ okr.data_fim.strftime('%Y-%m-%d') }}" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Atualizar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    // Atualizar squads dinamicamente baseado na empresa selecionada
    $(document).ready(function() {
        $("#empresa").change(function() {
            var empresaId = $(this).val();
            $.getJSON('/get_squads/' + empresaId, function(data) {
                var select = $('#squad');
                select.empty();
                $.each(data, function(key, value) {
                    select.append('<option value="' + value.id + '">' + value.nome + '</option>');
                });
            });
        });
    });
</script>
{% endblock %}
