{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4 text-dark">Atualizar Tarefa Semanal</h2>
    <div class="card">
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label for="tarefa_semana" class="text-dark">Tarefa da Semana:</label>
                    <input type="text" id="tarefa_semana" name="tarefa_semana" class="form-control text-dark" value="{{ tarefa.tarefa_semana }}" required>
                </div>
                <div class="form-group">
                    <label for="data_para_conclusao" class="text-dark">Data para Conclusão:</label>
                    <input type="date" id="data_para_conclusao" name="data_para_conclusao" class="form-control text-dark" value="{{ tarefa.data_para_conclusao.strftime('%Y-%m-%d') }}" required>
                </div>

                <h3 class="text-dark">Status da Tarefa:</h3>
                    <div class="form-group">
                        <label for="status_tarefa" class="text-dark">Status da Tarefa:</label>
                        <select id="status_tarefa" name="status_tarefa" class="form-control text-dark" required>
                            <option value="pendente" {% if 'status_tarefa' in tarefa.observacoes_decoded and tarefa.observacoes_decoded.get('status_tarefa').lower() == 'pendente' %}selected{% endif %}>Pendente</option>
                            <option value="em progresso" {% if 'status_tarefa' in tarefa.observacoes_decoded and tarefa.observacoes_decoded.get('status_tarefa').lower() == 'em progresso' %}selected{% endif %}>Em progresso</option>
                            <option value="concluído" {% if 'status_tarefa' in tarefa.observacoes_decoded and tarefa.observacoes_decoded.get('status_tarefa').lower() == 'concluído' %}selected{% endif %}>Concluído</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="observacoes" class="text-dark">Observações do Email:</label>
                        <textarea id="observacoes" name="observacoes" class="form-control text-dark" rows="3" readonly>
                            {% for key, value in observacoes.items() %}
                                {% if key not in ['status_tarefa', 'observacao_tarefa'] %}
                                    {{ value }}
                                {% endif %}
                            {% endfor %}
                        </textarea>
                    </div>

                <h3 class="text-dark">Passos:</h3>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Passo</th>
                            <th scope="col">Data</th>
                            <th scope="col">Status</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if 'passos' in tarefa.to_do_decoded and 'datas' in tarefa.to_do_decoded %}
                            {% for i in range(len(tarefa.to_do_decoded['passos'])) %}
                                <tr>
                                    <td>
                                        <input type="text" id="passo{{i+1}}" name="passo{{i+1}}" class="form-control text-dark" value="{{ tarefa.to_do_decoded['passos'][i] }}" required>
                                    </td>

                                    <td>
                                        <input type="date" id="data{{i+1}}" name="data{{i+1}}" class="form-control text-dark" value="{{ tarefa.to_do_decoded['datas'][i] }}" required>
                                    </td>
                                    <td>
                                        <select id="status{{i+1}}" name="status{{i+1}}" class="form-control text-dark">
                                            <option value="pendente" {% if tarefa.to_do_decoded['status'][i] == 'pendente' %}selected{% endif %}>Pendente</option>
                                            <option value="em progresso" {% if tarefa.to_do_decoded['status'][i] == 'em progresso' %}selected{% endif %}>Em progresso</option>
                                            <option value="concluído" {% if tarefa.to_do_decoded['status'][i] == 'concluído' %}selected{% endif %}>Concluído</option>
                                        </select>
                                    </td>
                                    <td>
                                        <form action="{{ url_for('deletar_todo', id=tarefa.id, todo_index=i) }}" method="POST" class="d-inline">
                                            <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        <tr id="newStepRow">
                            <td>
                                <input type="text" id="newStep" name="newStep" class="form-control text-dark" placeholder="Digite o novo passo aqui">
                            </td>
                            <td>
                                <input type="date" id="newDate" name="newDate" class="form-control text-dark">
                            </td>
                            <td>
                                <select id="newStatus" name="newStatus" class="form-control text-dark">
                                    <option value="pendente">Pendente</option>
                                    <option value="em progresso">Em progresso</option>
                                    <option value="concluído">Concluído</option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" onclick="addStep()">Adicionar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary btn-block">Atualizar</button>
            </form>
        </div>
    </div>
</div>

<script>
    var stepCounter = {{ len(tarefa.to_do_decoded['passos']) + 1 }};
    function addStep() {
        var newStep = document.getElementById('newStep').value;
        var newDate = document.getElementById('newDate').value;
        var newStatus = document.getElementById('newStatus').value;
        if (newStep && newDate) {
            var table = document.querySelector('tbody');
            var row = document.createElement('tr');
            row.innerHTML = `
                <td>
                    <input type="text" id="passo${stepCounter}" name="passo${stepCounter}" class="form-control text-dark" value="${newStep}" required>
                </td>
                <td>
                    <input type="date" id="data${stepCounter}" name="data${stepCounter}" class="form-control text-dark" value="${newDate}" required>
                </td>
                <td>
                    <select id="status${stepCounter}" name="status${stepCounter}" class="form-control text-dark">
                        <option value="pendente" ${newStatus == 'pendente' ? 'selected' : ''}>Pendente</option>
                        <option value="em progresso" ${newStatus == 'em progresso' ? 'selected' : ''}>Em progresso</option>
                        <option value="concluído" ${newStatus == 'concluído' ? 'selected' : ''}>Concluído</option>
                    </select>
                </td>
                <td></td>
            `;
            table.insertBefore(row, document.getElementById('newStepRow'));
            document.getElementById('newStep').value = '';
            document.getElementById('newDate').value = '';
            document.getElementById('newStatus').value = 'pendente';
            stepCounter++;
        }
    }
</script>

{% endblock %}

