{% extends "base.html" %}

{% block content %}
    <h1>Atualizar OKR</h1>
    <form action="{{ url_for('atualizar_okr', id=okr.id) }}" method="POST">
        <label for="empresa">Empresa:</label><br>
        <select id="empresa" name="empresa">
            {% for empresa in empresas %}
                <option value="{{ empresa.id }}" {% if empresa.id == okr.id_empresa %} selected {% endif %}>{{ empresa.nome_contato }}</option>
            {% endfor %}
        </select><br>
        <label for="objetivo">Objetivo:</label><br>
        <input type="text" id="objetivo" name="objetivo" value="{{ okr.objetivo }}"><br>
        <label for="data_inicio">Data de início do ciclo:</label><br>
        <input type="date" id="data_inicio" name="data_inicio" value="{{ okr.data_inicio.strftime('%Y-%m-%d') }}"><br>
        <label for="data_fim">Data de fim do ciclo:</label><br>
        <input type="date" id="data_fim" name="data_fim" value="{{ okr.data_fim.strftime('%Y-%m-%d') }}"><br>
        <input type="submit" value="Atualizar">
    </form>
{% endblock %}
