{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <h1 class="text-center mb-4 text-white">Cadastrar Novo OKR</h1>
                <div class="card" style="background-color: #333;">
                    <div class="card-body">
                        <form action="{{ url_for('cadastrar_okr') }}" method="POST">
                            <div class="form-group">
                                <label for="empresa" style="color: black;">Empresa:</label>
                                <select class="form-control" id="empresa" name="empresa" required>
                                    {% for empresa in empresas %}
                                        <option value="{{ empresa.id }}">{{ empresa.nome_contato }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="squad" style="color: black;">Squad:</label>
                                <select class="form-control" id="squad" name="squad" required></select>
                            </div>
                            <div class="form-group">
                                <label for="objetivo" style="color: black;">Objetivo:</label>
                                <input type="text" class="form-control" id="objetivo" name="objetivo" required>
                            </div>
                            <div class="form-group">
                                <label for="data_inicio" style="color: black;">Data Início:</label>
                                <input type="date" class="form-control" id="data_inicio" name="data_inicio" required>
                            </div>
                            <div class="form-group">
                                <label for="data_fim" style="color: black;">Data Fim:</label>
                                <input type="date" class="form-control" id="data_fim" name="data_fim" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#empresa").change(function() {
            var empresaId = $(this).val();
            $.getJSON('/get_squads/' + empresaId, function(data) {
                var select = $('#squad');
                select.empty();
                $.each(data, function(key, value) {
                    select.append('<option value="' + value.id + '">' + value.nome + '</option>');
                });
            });
        });
    });
</script>
{% endblock %}
