{% extends "base.html" %}

{% block content %}
    <h1>Cadastrar Novo Usuário</h1>
    <form action="{{ url_for('cadastrar_usuario') }}" method="POST">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome"><br>
        <label for="sobrenome">Sobrenome:</label><br>
        <input type="text" id="sobrenome" name="sobrenome"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="celular">Celular:</label><br>
        <input type="text" id="celular" name="celular"><br>
        <label for="id_empresa">Empresa:</label><br>
        <select id="id_empresa" name="id_empresa">
            {% for empresa in empresas %}
                <option value="{{ empresa.id }}">{{ empresa.nome_contato }}</option>
            {% endfor %}
        </select><br>
        <label for="cargo">Cargo:</label><br>
        <input type="text" id="cargo" name="cargo"><br>
        <label for="status">Status:</label><br>
        <select id="status" name="status">
            <option value="ativo">Ativo</option>
            <option value="inativo">Inativo</option>
        </select><br>
        <input type="submit" value="Cadastrar">
    </form>
{% endblock %}
