{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <h1 class="text-center mb-4 text-white">Cadastrar Novo KR</h1>
                <div class="card" style="background-color: #333;">
                    <div class="card-body">
                        <form action="{{ url_for('cadastrar_kr') }}" method="POST">
                            <div class="form-group">
                                <label for="empresa" style="color: black;">Empresa:</label>
                                <select class="form-control" id="empresa" name="empresa" required>
                                    {% for empresa in empresas %}
                                        <option value="{{ empresa.id }}">{{ empresa.nome_contato }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="squad" style="color: black;">Squad:</label>
                                <select class="form-control" id="squad" name="squad" required>
                                    <!-- Os Squads serão preenchidos dinamicamente pelo JavaScript após a seleção de uma Empresa -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="objetivo" style="color: black;">Objetivo:</label>
                                <select class="form-control" id="objetivo" name="objetivo" required>
                                    <!-- Os objetivos serão preenchidos dinamicamente pelo JavaScript após a seleção de um Squad -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="texto" style="color: black;">Texto:</label>
                                <input type="text" class="form-control" id="texto" name="texto" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("empresa").addEventListener("change", function() {
            let empresaId = this.value;
            let squadDropdown = document.getElementById("squad");
            squadDropdown.innerHTML = "";

            fetch('/get_squads/' + empresaId)
                .then(response => response.json())
                .then(data => {
                    data.forEach(squad => {
                        let option = new Option(squad.nome, squad.id);
                        squadDropdown.add(option);
                    });
                });
        });

        document.getElementById("squad").addEventListener("change", function() {
            let squadId = this.value;
            let okrDropdown = document.getElementById("objetivo");
            okrDropdown.innerHTML = "";

            fetch('/get_okrs_by_squad/' + squadId)
                .then(response => response.json())
                .then(data => {
                    data.forEach(okr => {
                        let option = new Option(okr.objetivo, okr.id);
                        okrDropdown.add(option);
                    });
                });
        });

    </script>
{% endblock %}
