{% extends "base.html" %}

{% block content %}
    <h1>Cadastrar Novo OKR</h1>
    <form action="{{ url_for('cadastrar_okr') }}" method="POST">
    <label for="empresa">Empresa:</label><br>
    <select id="empresa" name="empresa">
        {% for empresa in empresas %}
            <option value="{{ empresa.id }}">{{ empresa.nome_contato }}</option>
        {% endfor %}
    </select><br>
    <label for="objetivo">Objetivo:</label><br>
    <input type="text" id="objetivo" name="objetivo"><br>
    <input type="date" id="data_inicio" name="data_inicio"><br>
    <label for="data_fim">Data Fim:</label><br>
    <input type="date" id="data_fim" name="data_fim"><br>

    <input type="submit" value="Cadastrar">
</form>

{% endblock %}
