{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <h1 class="text-center mb-4 text-white">Cadastrar Sprint da Semana</h1>
                <div class="card" style="background-color: #333;">
                    <div class="card-body">
                        <form action="{{ url_for('cadastrar_sprint', redirect_page=redirect_page) }}" method="POST">
                            <div class="form-group">
                                <label for="empresa" style="color: black;">Empresa:</label>
                                <select class="form-control" id="empresa" name="empresa" required>
                                    {% for empresa in empresas %}
                                        <option value="{{ empresa.id }}">{{ empresa.nome_contato }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="usuario" style="color: black;">Usuário:</label>
                                <select class="form-control" id="usuario" name="usuario" required>
                                    {% for usuario in usuarios %}
                                        <option value="{{ usuario.id }}">{{ usuario.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="tarefa" style="color: black;">Tarefa:</label>
                                <input type="text" class="form-control" id="tarefa" name="tarefa" required>
                            </div>
                            <div class="form-group">
                                <label for="prioridade" style="color: black;">Prioridade:</label>
                                <input type="number" class="form-control" id="prioridade" name="prioridade" min="1" max="5" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
