{% extends "base.html" %}

{% block content %}
    <h1>Cadastrar Macro Ação</h1>
    <form action="{{ url_for('cadastrar_macro_acao') }}" method="POST">
        <label for="empresa">Empresa:</label><br>
        <select id="empresa" name="empresa">
            {% for empresa in empresas %}
                <option value="{{ empresa.id }}">{{ empresa.nome_contato }}</option>
            {% endfor %}
        </select><br>
        <label for="objetivo">Objetivo:</label><br>
        <select id="objetivo" name="objetivo">
            {% for objetivo in objetivos %}
                <option value="{{ objetivo.id }}">{{ objetivo.objetivo }}</option>
            {% endfor %}
        </select><br>
        <label for="kr">KR:</label><br>
        <select id="kr" name="kr">
            <!-- Os KRs serão preenchidos dinamicamente pelo JavaScript -->
        </select><br>
        <label for="texto">Texto:</label><br>
        <input type="text" id="texto" name="texto"><br>
        <input type="submit" value="Cadastrar">
    </form>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
