{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <h1 class="text-center mb-4 text-white">Cadastrar Novo KR</h1>
                <div class="card" style="background-color: #333;">
                    <div class="card-body">
                        <form action="{{ url_for('cadastrar_kr') }}" method="POST">
                            <div class="form-group">
                                <label for="empresa" style="color: black;">Empresa:</label>
                                <select class="form-control" id="empresa" name="empresa" required>
                                    {% for empresa in empresas %}
                                        <option value="{{ empresa.id }}">{{ empresa.nome_contato }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="objetivo" style="color: black;">Objetivo:</label>
                                <select class="form-control" id="objetivo" name="objetivo" required>
                                    <!-- Os objetivos serão preenchidos dinamicamente pelo JavaScript -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="texto" style="color: black;">Texto:</label>
                                <input type="text" class="form-control" id="texto" name="texto" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
