<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montar Sprint da Semana</title>
    <script>
        function updateSquads() {
            const empresaId = document.getElementById('empresa_id').value;
            fetch('/get_squads_sprint/' + empresaId)
                .then(response => response.json())
                .then(data => {
                    const squadDropdown = document.getElementById('squad_id');
                    squadDropdown.innerHTML = "";
                    data.forEach(squad => {
                        const option = document.createElement('option');
                        option.value = squad.id;
                        option.innerText = squad.nome;
                        squadDropdown.appendChild(option);
                    });
                });
        }

       async function fetchAsanaKRs() {
            const selectedEmpresaID = document.getElementById('empresa_id').value;
            let response = await fetch(`/get_empresa_name?id=${selectedEmpresaID}`);
            let data = await response.json();

            if (data.error) {
                console.error(data.error);
                return;
            }

            const selectedEmpresaNome = data.nome;
            const empresasTokens = JSON.parse(localStorage.getItem('empresasTokens'));
            const empresaSelected = empresasTokens.find(empresa => empresa.nome === selectedEmpresaNome);

            if (!empresaSelected) {
                console.log("empresaSelected não encontrado");
                return;
            }

            const selectedSquadId = document.getElementById('squad_id').value;
            const squadResponse = await fetch(`/get_squad_name?empresa_id=${selectedEmpresaID}&squad_id=${selectedSquadId}`);
            const squadData = await squadResponse.json();

            if (squadData.error) {
                console.error(squadData.error);
                return;
            }

            const selectedSquadName = squadData.squad_name;
            const workSette = empresaSelected.workspace;
            const allKRs = [];
            let updatedCount = 0;

            async function getKRIdByName(name) {
                const response = await fetch('/get_kr_id?name=' + encodeURIComponent(name));
                const data = await response.json();
                return data.success ? data.kr_id : null;
            }

            const projectsResponse = await fetch(`https://app.asana.com/api/1.0/workspaces/${workSette}/projects?archived=false`, {
                method: 'GET',
                headers: {
                    'Authorization': empresaSelected.token,
                    'Accept': 'application/json'
                }
            });

            const projectsData = await projectsResponse.json();
            const project = projectsData.data.find(p => p.name === selectedSquadName);

            if (project) {
                const projectId = project.gid;
                const sectionsResponse = await fetch(`https://app.asana.com/api/1.0/projects/${projectId}/sections`, {
                    method: 'GET',
                    headers: {
                        'Authorization': empresaSelected.token,
                        'Accept': 'application/json'
                    }
                });

                const sectionsData = await sectionsResponse.json();
                const krSection = sectionsData.data.find(section => section.name === "KR");

                if (krSection) {
                    const tasksResponse = await fetch(`https://app.asana.com/api/1.0/sections/${krSection.gid}/tasks`, {
                        method: 'GET',
                        headers: {
                            'Authorization': empresaSelected.token,
                            'Accept': 'application/json'
                        }
                    });

                    const tasksData = await tasksResponse.json();
                    for (const task of tasksData.data) {
                        const taskDetailResponse = await fetch(`https://app.asana.com/api/1.0/tasks/${task.gid}`, {
                            method: 'GET',
                            headers: {
                                'Authorization': empresaSelected.token,
                                'Accept': 'application/json'
                            }
                        });

                        const taskDetailData = await taskDetailResponse.json();
                        const subtasksResponse = await fetch(`https://app.asana.com/api/1.0/tasks/${task.gid}/subtasks`, {
                            method: 'GET',
                            headers: {
                                'Authorization': empresaSelected.token,
                                'Accept': 'application/json'
                            }
                        });

                        const subtasksData = await subtasksResponse.json();
                        const krId = await getKRIdByName(taskDetailData.data.name);
                        if (krId) {
                            allKRs.push({
                                id: krId,
                                empresa: empresaSelected.nome,
                                subtarefas: subtasksData.data.map(subtask => subtask.name),
                                squad_name: project.name,
                                squad_id: selectedSquadId,
                                tarefa: taskDetailData.data.name,
                                descricao: taskDetailData.data.notes
                            });
                        }
                    }
                }
            }

            for (const kr of allKRs) {
                const response = await fetch('/cadastrar_metas', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(kr)
                });

                const data = await response.json();
                if (data.success) {
                    updatedCount++;
                }
            }
            console.log("Total de KRs atualizados:", updatedCount);
        }


        async function runAsanaFunctions(event) {
            event.preventDefault();
            await fetchAsanaTasksAndCompare();
            document.querySelector('form').submit();
            window.addEventListener('load', () => {
                updateSquads();
            });
        }

        async function fetchAsanaTasksAndCompare() {
            const asanaTasks = await fetchAsanaTasks();
            const asanaConcluidas = await fetchAsanaTasksConcluidas();
            const dbTasks = await fetchTarefasAtuais();
            const dbTasksConc = await fetchTarefasFinalizadas();
            await registerTasksInDatabase(asanaTasks);
            await registerTasksInDatabaseConcluidos(asanaConcluidas)

            const asanaTaskNames = asanaTasks.map(task => task.tarefa);
            const tasksToDelete = dbTasks.filter(dbTask => !asanaTaskNames.includes(dbTask.tarefa));
            for (const task of tasksToDelete) {
                const deletionResult = await deleteTarefa(task.id);
            }

            const asanaTaskNamesConc = asanaConcluidas.map(task => task.tarefa);
            console.log(asanaTaskNamesConc)
            const tasksToDeleteConc = dbTasksConc.filter(dbTasksConc => !asanaTaskNamesConc.includes(dbTasksConc.tarefa));
            for (const task of tasksToDeleteConc) {
                const deletionResultConc = await deleteTarefaConcluidos(task.id);
            }

        }



        async function registerTasksInDatabase(tasks) {
            const response = await fetch('/cadastrar_tarefas_atuais', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ tarefas: tasks })
            });
            return response.json();
        }

        async function fetchAsanaTasks() {
            const plataforma = localStorage.getItem('plataformaAsana');
            const empresasTokens = JSON.parse(localStorage.getItem('empresasTokens'));
            const allTasks = [];
            async function getSquadId(squadName, empresaName) {
                const response = await fetch('/get_squad_id?squad_name=' + encodeURIComponent(squadName) + '&empresa_name=' + encodeURIComponent(empresaName));
                const data = await response.json();
                return data.success ? data.squad_id : null;
            }
            for (const empresa of empresasTokens) {
                const workSette = empresa.workspace;
                const projectsResponse = await fetch(`https://app.asana.com/api/1.0/workspaces/${workSette}/projects?archived=false`, {
                    method: 'GET',
                    headers: {
                        'Authorization': empresa.token,
                        'Accept': 'application/json'
                    }
                });
                const projectsData = await projectsResponse.json();
                for (const project of projectsData.data) {
                    const sectionsResponse = await fetch(`https://app.asana.com/api/1.0/projects/${project.gid}/sections`, {
                        method: 'GET',
                        headers: {
                            'Authorization': empresa.token,
                            'Accept': 'application/json'
                        }
                    });
                    const sectionsData = await sectionsResponse.json();
                    const completedTasksSection = sectionsData.data.find(section => section.name === "Tarefas em andamento");
                    if (completedTasksSection) {
                        const tasksResponse = await fetch(`https://app.asana.com/api/1.0/sections/${completedTasksSection.gid}/tasks`, {
                            method: 'GET',
                            headers: {
                                'Authorization': empresa.token,
                                'Accept': 'application/json'
                            }
                        });
                        const tasksData = await tasksResponse.json();
                        for (const task of tasksData.data) {
                            const taskDetailResponse = await fetch(`https://app.asana.com/api/1.0/tasks/${task.gid}`, {
                                method: 'GET',
                                headers: {
                                    'Authorization': empresa.token,
                                    'Accept': 'application/json'
                                }
                            });
                            const taskDetailData = await taskDetailResponse.json();
                            const subtasksResponse = await fetch(`https://app.asana.com/api/1.0/tasks/${task.gid}/subtasks`, {
                                method: 'GET',
                                headers: {
                                    'Authorization': empresa.token,
                                    'Accept': 'application/json'
                                }
                            });
                            const subtasksData = await subtasksResponse.json();
                            const squadId = await getSquadId(project.name, empresa.nome);
                            if (squadId) {
                                allTasks.push({
                                    empresa: empresa.nome,
                                    subtarefas: subtasksData.data.map(subtask => subtask.name),
                                    squad_name: project.name,
                                    squad_id: squadId,
                                    tarefa: taskDetailData.data.name
                                });
                            }
                        }
                    }
                }
            }
            return allTasks;
        }

        async function fetchAsanaTasksConcluidas() {
            const plataforma = localStorage.getItem('plataformaAsana');
            const empresasTokens = JSON.parse(localStorage.getItem('empresasTokens'));
            const allTasks = [];
            const formatDate = (dateString) => {
                const date = new Date(dateString);
                const day = String(date.getDate()).padStart(2, '0');
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const year = date.getFullYear();
                return `${day}/${month}/${year}`;
            };

            async function getSquadId(squadName, empresaName) {
                let response = await fetch('/get_squad_id?squad_name=' + encodeURIComponent(squadName) + '&empresa_name=' + encodeURIComponent(empresaName));
                let data = await response.json();
                if (data.success) {
                    return data.squad_id;
                } else {
                    console.error('Erro ao obter squad_id:', data.error);
                    return null;
                }
            }

            for (const empresa of empresasTokens) {
                const workSette = empresa.workspace;
                const projectsResponse = await fetch(`https://app.asana.com/api/1.0/workspaces/${workSette}/projects?archived=false`, {
                    method: 'GET',
                    headers: {
                        'Authorization': empresa.token,
                        'Accept': 'application/json'
                    }
                });
                const projectsData = await projectsResponse.json();
                for (const project of projectsData.data) {
                    const projectId = project.gid;
                    const sectionsResponse = await fetch(`https://app.asana.com/api/1.0/projects/${projectId}/sections`, {
                        method: 'GET',
                        headers: {
                            'Authorization': empresa.token,
                            'Accept': 'application/json'
                        }
                    });
                    const sectionsData = await sectionsResponse.json();
                    const completedTasksSection = sectionsData.data.find(section => section.name === "Tarefas concluídas");
                    if (completedTasksSection) {
                        const tasksResponse = await fetch(`https://app.asana.com/api/1.0/sections/${completedTasksSection.gid}/tasks`, {
                            method: 'GET',
                            headers: {
                                'Authorization': empresa.token,
                                'Accept': 'application/json'
                            }
                        });
                        const tasksData = await tasksResponse.json();
                        for (const task of tasksData.data) {
                            const taskDetailResponse = await fetch(`https://app.asana.com/api/1.0/tasks/${task.gid}`, {
                                method: 'GET',
                                headers: {
                                    'Authorization': empresa.token,
                                    'Accept': 'application/json'
                                }
                            });
                            const taskDetailData = await taskDetailResponse.json();
                            const subtasksResponse = await fetch(`https://app.asana.com/api/1.0/tasks/${task.gid}/subtasks`, {
                                method: 'GET',
                                headers: {
                                    'Authorization': empresa.token,
                                    'Accept': 'application/json'
                                }
                            });
                            const subtasksData = await subtasksResponse.json();
                            const squadId = await getSquadId(project.name, empresa.nome);
                            if (squadId) {
                                allTasks.push({
                                    empresa: empresa.nome,
                                    subtarefas: subtasksData.data.map(subtask => subtask.name),
                                    squad_name: project.name,
                                    squad_id: squadId,
                                    tarefa: taskDetailData.data.name
                                });
                            }
                        }
                    }
                }
            }
            return allTasks;
        }



      async function registerTasksInDatabaseConcluidos(tasks) {
        try {
            const response = await fetch('/cadastrar_tarefas_concluidas', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ tarefas: tasks })
            });
            const data = await response.json();
            if (!data.success) {
                console.error('Erro ao cadastrar tarefas:', data.error);
            }
        } catch (error) {
            console.error('Erro ao cadastrar tarefas:', error);
        }
      }


        async function fetchTarefasAtuais() {
            const response = await fetch('/get_tarefas_atuais');
            return response.json();
        }

        async function fetchTarefasFinalizadas() {
            const response = await fetch('/get_tarefas_concluidas');
            return response.json();
        }

        async function deleteTarefa(id) {
            const url = '/deletar_tarefa/' + id;
            const response = await fetch(url, { method: 'POST' });
            return response.ok;
        }

        async function deleteTarefaConcluidos(id) {
            const url = '/deletar_tarefa_concluida/' + id;
            const response = await fetch(url, { method: 'POST' });
            return response.ok;
        }

        function salvarDadosNoLocalStorage() {
            const empresaDropdown = document.getElementById('empresa_id');
            const squadDropdown = document.getElementById('squad_id');
            const empresaName = empresaDropdown.options[empresaDropdown.selectedIndex].text;
            const squadName = squadDropdown.options[squadDropdown.selectedIndex].text;

            localStorage.setItem('empresaName', empresaName);
            localStorage.setItem('squadName', squadName);
        }

        async function fetchEmpresaId() {
            const empresaName = localStorage.getItem('empresaName');

            try {
                const response = await fetch(`/get_empresaId?empresa_name=${encodeURIComponent(empresaName)}`);
                const data = await response.json();
                if (data.success) {
                    return data.empresa_id;
                } else {
                    console.error('Erro ao obter empresa_id:', data.error);
                    return null;
                }
            } catch (error) {
                console.error('Erro ao fazer a requisição:', error);
                return null;
            }
        }

        async function fetchSquadId() {
            const squadName = localStorage.getItem('squadName');
            const empresaName = localStorage.getItem('empresaName');

            try {
                const response = await fetch(`/get_squad_id?squad_name=${encodeURIComponent(squadName)}&empresa_name=${encodeURIComponent(empresaName)}`);
                const data = await response.json();
                if (data.success) {
                    return data.squad_id;
                } else {
                    console.error('Erro ao obter squad_id:', data.error);
                    return null;
                }
            } catch (error) {
                console.error('Erro ao fazer a requisição:', error);
                return null;
            }
        }

        async function executeTasksInOrder() {
            await gerarTarefasEMetas();
            await deleteAsanaTasksFromSection();
            await createTasksFromTable();
        }

        async function gerarTarefasEMetas() {
            const empresaId = await fetchEmpresaId();
            const squadId = await fetchSquadId();
            if (!squadId || !empresaId) {
                console.error('Não foi possível obter o Squad ID ou Empresa ID');
                return;
            }
            console.log(squadId)
            console.log(empresaId)

            const data = {
                'empresa_id': empresaId,
                'squad_id': squadId
            };

            try {
                const response = await fetch('/gerar_tarefas_metas_semanais_novo', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    location.href = '/caminho_para_proxima_pagina';
                } else {
                    console.error('Erro ao gerar tarefas e metas semanais:', await response.text());
                }
            } catch (error) {
                console.error('Erro ao fazer a chamada fetch:', error);
            }
        }

        async function createTasksFromTable() {
            const tbody = document.getElementById('metas-table-body');
            const rows = tbody.querySelectorAll('tr');
            const tasks = [];

            rows.forEach(row => {
                const taskData = {
                    name: row.querySelector('td:nth-child(1)').textContent,
                    metaSemanal: row.querySelector('td:nth-child(3)').textContent,
                    empresa: row.querySelector('td:nth-child(6)').textContent,
                    squad: row.querySelector('td:nth-child(7)').textContent
                };
                tasks.push(taskData);
            });

            const empresaNome = localStorage.getItem('empresaSelecionada');
            const empresaObj = empresasTokens.find(e => e.nome === empresaNome);

            if (!empresaObj) {
                console.error("Empresa não encontrada no array empresasTokens.");
                return;
            }

            const workSette = empresaObj.workspace;
            const projectsResponse = await fetch(`https://app.asana.com/api/1.0/workspaces/${workSette}/projects?archived=false`, {
                method: 'GET',
                headers: {
                    'Authorization': empresaObj.token,
                    'Accept': 'application/json'
                }
            });
            const projectsData = await projectsResponse.json();
            for (const project of projectsData.data) {
                const projectId = project.gid;
                const sections = await getSections(projectId);
                const targetSection = sections.find(section => section.name === "Meta semanal e Tarefas");

                for (const task of tasks) {
                    const url = "https://app.asana.com/api/1.0/tasks";
                    const data = {
                        "data": {
                            "name": task.name,
                            "notes": task.metaSemanal,
                            "projects": [projectId]
                        }
                    };

                    const response = await fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': empresaObj.token
                        },
                        body: JSON.stringify(data)
                    });

                    const responseData = await response.json();

                    if (responseData.data && responseData.data.gid) {
                        const taskID = responseData.data.gid;
                        const moveUrl = `https://app.asana.com/api/1.0/sections/${targetSection.gid}/addTask`;
                        const moveData = {
                            "data": {
                                "task": taskID
                            }
                        };

                        await fetch(moveUrl, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Authorization': empresaObj.token
                            },
                            body: JSON.stringify(moveData)
                        });

                        console.log(`Tarefa '${task.name}' inserida no Asana com sucesso.`);
                    }
                }
            }
        }

        async function createTasksFromTable() {
            const tbody = document.getElementById('metas-table-body');
            const rows = tbody.querySelectorAll('tr');
            const tasks = [];

            rows.forEach(row => {
                const taskData = {
                    name: row.querySelector('td:nth-child(1)').textContent,
                    metaSemanal: row.querySelector('td:nth-child(3)').textContent,
                    empresa: row.querySelector('td:nth-child(6)').textContent,
                    squad: row.querySelector('td:nth-child(7)').textContent
                };
                tasks.push(taskData);
            });

            const empresaNome = localStorage.getItem('empresaSelecionada');
            const empresaObj = empresasTokens.find(e => e.nome === empresaNome);

            if (!empresaObj) {
                console.error("Empresa não encontrada no array empresasTokens.");
                return;
            }

            const workSette = empresaObj.workspace;
            const projectsResponse = await fetch(`https://app.asana.com/api/1.0/workspaces/${workSette}/projects?archived=false`, {
                method: 'GET',
                headers: {
                    'Authorization': empresaObj.token,
                    'Accept': 'application/json'
                }
            });
            const projectsData = await projectsResponse.json();
            for (const project of projectsData.data) {
                const projectId = project.gid;
                const sections = await getSections(projectId);
                const targetSection = sections.find(section => section.name === "Meta semanal e Tarefas");

                for (const task of tasks) {
                    const url = "https://app.asana.com/api/1.0/tasks";
                    const data = {
                        "data": {
                            "name": task.name,
                            "notes": task.metaSemanal,
                            "projects": [projectId]
                        }
                    };

                    const response = await fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': empresaObj.token
                        },
                        body: JSON.stringify(data)
                    });

                    const responseData = await response.json();

                    if (responseData.data && responseData.data.gid) {
                        const taskID = responseData.data.gid;
                        const moveUrl = `https://app.asana.com/api/1.0/sections/${targetSection.gid}/addTask`;
                        const moveData = {
                            "data": {
                                "task": taskID
                            }
                        };

                        await fetch(moveUrl, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Authorization': empresaObj.token
                            },
                            body: JSON.stringify(moveData)
                        });

                        console.log(`Tarefa '${task.name}' inserida no Asana com sucesso.`);
                    }
                }
            }
        }

        async function getSections(projectID) {
            const empresaNome = localStorage.getItem('empresaSelecionada');
            const empresaObj = empresasTokens.find(e => e.nome === empresaNome);

            if (!empresaObj) {
                console.error("Empresa não encontrada no array empresasTokens.");
                return [];
            }

            const url = `https://app.asana.com/api/1.0/projects/${projectID}/sections`;
            const response = await fetch(url, {
                method: 'GET',
                headers: {
                    'Authorization': empresaObj.token
                }
            });
            const data = await response.json();
            return data.data;
        }

        async function deleteAsanaTasksFromSection() {
            const empresaNome = localStorage.getItem('empresaSelecionada');
            const empresaObj = empresasTokens.find(e => e.nome === empresaNome);

            if (!empresaObj) {
                console.error("Empresa não encontrada no array empresasTokens.");
                return;
            }

            const sectionsResponse = await fetch(`https://app.asana.com/api/1.0/projects/1205296856969933/sections`, {
                method: 'GET',
                headers: {
                    'Authorization': empresaObj.token,
                    'Accept': 'application/json'
                }
            });
            const sectionsData = await sectionsResponse.json();
            const metasSection = sectionsData.data.find(section => section.name === "Meta semanal e Tarefas");
            if (metasSection) {
                const tasksResponse = await fetch(`https://app.asana.com/api/1.0/sections/${metasSection.gid}/tasks`, {
                    method: 'GET',
                    headers: {
                        'Authorization': empresaObj.token,
                        'Accept': 'application/json'
                    }
                });
                const tasksData = await tasksResponse.json();
                for (const task of tasksData.data) {
                    await fetch(`https://app.asana.com/api/1.0/tasks/${task.gid}`, {
                        method: 'DELETE',
                        headers: {
                            'Authorization': empresaObj.token,
                            'Accept': 'application/json'
                        }
                    });
                }
            }
            alert('Tasks deletadas com sucesso!');
        }
        function salvarEmpresa() {
            const empresaSelect = document.getElementById('empresa_id');
            const empresaNome = empresaSelect.options[empresaSelect.selectedIndex].text;

            localStorage.setItem('empresaSelecionada', empresaNome);
        }

        async function executeFunctions(event) {
            event.preventDefault();
            await fetchAsanaKRs();
            salvarDadosNoLocalStorage();
            runAsanaFunctions(event);
        }

    </script>
</head>

<body onload="updateSquads();">
    <h2>Montar Sprint da Semana</h2>
    <form action="/montar_sprint_semana" method="post" onsubmit="executeFunctions(event);">
        <div>
            <label for="empresa_id">Selecione a Empresa:</label>
            <select name="empresa_id" id="empresa_id" onchange="updateSquads()">
                {% for empresa in empresas %}
                <option value="{{ empresa.id }}">{{ empresa.nome_contato }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="squad_id">Selecione o Squad:</label>
            <select name="squad_id" id="squad_id"></select>
        </div>
        <input type="submit" onclick="salvarEmpresa()" value="Selecionar">
    </form>
    <section>
        <h3>FormsObjetivos</h3>
        <ul>
            {% for obj in forms_objetivos %}
            <li>ID: {{ obj.id }} - Data: {{ obj.data }}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>OKRs</h3>
        <ul>
            {% for okr in okrs %}
            <li>ID: {{ okr.id }} - Objetivo: {{ okr.objetivo }} - Data Início: {{ okr.data_inicio }} - Data Fim: {{ okr.data_fim }}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>KRs</h3>
        <ul>
            {% for kr in krs %}
            <li>ID: {{ kr.id }} - Texto: {{ kr.texto }} - Meta: {{ kr.meta }} - Data Inclusão: {{ kr.data_inclusao }}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>MacroAcoes</h3>
        <ul>
            {% for ma in macroacoes %}
            <li>ID: {{ ma.id }} - Texto: {{ ma.texto }} - Data Inclusão: {{ ma.data_inclusao }}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>Tarefas Em Andamento</h3>
        <ul>
            {% for tarefa in tarefas_andamento %}
            <li>ID: {{ tarefa.id }} - Tarefa: {{ tarefa.tarefa }} - Data Inclusão: {{ tarefa.data_inclusao }}
                <ul>
                    {% for subtarefa in tarefa.subtarefas %}
                    <li>Subtarefa: {{ subtarefa }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>Tarefas Finalizadas</h3>
        <ul>
            {% for tarefa in tarefas_finalizadas %}
            <li>Tarefa: {{ tarefa.tarefa }} - Data Inclusão: {{ tarefa.data_inclusao }} - Data Conclusão: {{ tarefa.data_conclusao }}
                <ul>
                    {% for subtarefa in tarefa.subtarefas %}
                    <li>Subtarefa: {{ subtarefa }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </section>
    <button onclick="executeTasksInOrder()">OK</button>
</body>

</html>