{% extends "base.html" %}

{% block content %}
<style>
    .custom-select {
        color: black;
        background-color: white;
    }
    .custom-select option {
        color: black;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montar Sprint da Semana</title>
    <script>


            // Inicializar a variável empresasTokens no localStorage
            const empresasTokens = [
            {
                nome: "Sette7",
                token: 'Bearer 1/1202777718375879:371b46e1e900b0e9d5f88933929c6770',
                workspace: '1205278753339325',
                team: '1205278753339327'
            },
            {
                nome: "ES360",
                token: 'Bearer 1/1150237826145564:8aa093214a72b8a8c73eff3cb5a777ac',
                workspace: '16363265495050',
                team: '1205288598041717'
              },
              {
                nome: "Bizarte",
                token: 'Bearer 1/1202777718375879:371b46e1e900b0e9d5f88933929c6770',
                workspace: '1205346334659692',
                team: '1205346334659694'
              },
              {
                nome: "Fabricio Noronha",
                token: 'Bearer 1/1202777718375879:371b46e1e900b0e9d5f88933929c6770',
                workspace: '1205378427861979',
                team: '1205378427861981'
              },
              {
                nome: "Colégio Mopi",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205380996045685',
                team: '1205380996045687'
              },
              {
                nome: "Acontece Portal de Noticias",
                token: 'Bearer 1/1202777718375879:371b46e1e900b0e9d5f88933929c6770',
                workspace: '1205385688547984',
                team: '1205385688547986'
              },
              {
                nome: "Rafael Wolak",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205407478863640',
                team: '1205407478863642'
              },
              {
                nome: "Ciclo Organico",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205427390711884',
                team: '1205427390711886'
              },
              {
                nome: "Raul Oliveira",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205479312230476',
                team: '1205479312230478'
              },
              {
                nome: "Big Big Material de Construção",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205499842562298',
                team: '1205499842562300'
              },
              {
                nome: "Vila Recreio",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205540470200318',
                team: '1205540470200320'
              }]



        function updateSquads() {
            const empresaId = document.getElementById('empresa_id').value;
            fetch('/get_squads_sprint/' + empresaId)
                .then(response => response.json())
                .then(data => {
                    const squadDropdown = document.getElementById('squad_id');
                    squadDropdown.innerHTML = "";
                    data.forEach(squad => {
                        const option = document.createElement('option');
                        option.value = squad.id;
                        option.innerText = squad.nome;
                        squadDropdown.appendChild(option);
                    });
                });
        }

       async function fetchAsanaKRs() {

            const empresaId = await fetchEmpresaId();
            console.log(empresaId)
            let response = await fetch(`/get_empresa_name?id=${empresaId}`);
            let data = await response.json();

            if (data.error) {
                console.error(data.error);
                return;
            }

            const selectedEmpresaNome = data.nome;
            const empresasTokens = JSON.parse(localStorage.getItem('empresasTokens'));
            const empresaSelected = empresasTokens.find(empresa => empresa.nome === selectedEmpresaNome);
            console.log(empresaSelected)

            if (!empresaSelected) {
                console.log("empresaSelected não encontrado");
                return;
            }

            const selectedSquadId = document.getElementById('squad_id').value;
            console.log(selectedSquadId)
            const squadResponse = await fetch(`/get_squad_name?empresa_id=${empresaId}&squad_id=${selectedSquadId}`);
            const squadData = await squadResponse.json();

            if (squadData.error) {
                console.error(squadData.error);
                return;
            }

            const selectedSquadName = squadData.squad_name;
            const workSette = empresaSelected.workspace;
            const allKRs = [];
            let updatedCount = 0;

            async function getKRIdByName(name) {
                const response = await fetch('/get_kr_id?name=' + encodeURIComponent(name));
                const data = await response.json();
                return data.success ? data.kr_id : null;
            }

            const projectsResponse = await fetch(`https://app.asana.com/api/1.0/workspaces/${workSette}/projects?archived=false`, {
                method: 'GET',
                headers: {
                    'Authorization': empresaSelected.token,
                    'Accept': 'application/json'
                }
            });

            const projectsData = await projectsResponse.json();
            console.log(projectsData)
            const project = projectsData.data.find(p => p.name === selectedSquadName);

            if (project) {
                const projectId = project.gid;
                const sectionsResponse = await fetch(`https://app.asana.com/api/1.0/projects/${projectId}/sections`, {
                    method: 'GET',
                    headers: {
                        'Authorization': empresaSelected.token,
                        'Accept': 'application/json'
                    }
                });

                const sectionsData = await sectionsResponse.json();
                const krSection = sectionsData.data.find(section => section.name === "KR");

                if (krSection) {
                    const tasksResponse = await fetch(`https://app.asana.com/api/1.0/sections/${krSection.gid}/tasks`, {
                        method: 'GET',
                        headers: {
                            'Authorization': empresaSelected.token,
                            'Accept': 'application/json'
                        }
                    });

                    const tasksData = await tasksResponse.json();
                    for (const task of tasksData.data) {
                        const taskDetailResponse = await fetch(`https://app.asana.com/api/1.0/tasks/${task.gid}`, {
                            method: 'GET',
                            headers: {
                                'Authorization': empresaSelected.token,
                                'Accept': 'application/json'
                            }
                        });

                        const taskDetailData = await taskDetailResponse.json();
                        const subtasksResponse = await fetch(`https://app.asana.com/api/1.0/tasks/${task.gid}/subtasks`, {
                            method: 'GET',
                            headers: {
                                'Authorization': empresaSelected.token,
                                'Accept': 'application/json'
                            }
                        });

                        const subtasksData = await subtasksResponse.json();
                        const krId = await getKRIdByName(taskDetailData.data.name);
                        if (krId) {
                            allKRs.push({
                                id: krId,
                                empresa: empresaSelected.nome,
                                subtarefas: subtasksData.data.map(subtask => subtask.name),
                                squad_name: project.name,
                                squad_id: selectedSquadId,
                                tarefa: taskDetailData.data.name,
                                descricao: taskDetailData.data.notes
                            });
                        }
                    }
                }
            }

            for (const kr of allKRs) {
                const response = await fetch('/cadastrar_metas', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(kr)
                });

                const data = await response.json();
                if (data.success) {
                    updatedCount++;
                }
            }
            console.log("Total de KRs atualizados:", updatedCount);
        }


        async function runAsanaFunctions(event) {
            event.preventDefault();
            document.querySelector('form').submit();
            window.addEventListener('load', () => {
                updateSquads();
            });
        }

        async function fetchAsanaTasksAndCompare() {
            const empresaId = await fetchEmpresaId();
            const squadId = await fetchSquadId();

            const asanaTasks = await fetchAsanaTasks();
            const asanaConcluidas = await fetchAsanaTasksConcluidas();
            const dbTasks = await fetchTarefasAtuais();
            const dbTasksConc = await fetchTarefasFinalizadas();

            await registerTasksInDatabase(asanaTasks);
            await registerTasksInDatabaseConcluidos(asanaConcluidas);

            const asanaTaskNames = asanaTasks.map(task => task.tarefa);
            const tasksToDelete = dbTasks.filter(dbTask => !asanaTaskNames.includes(dbTask.tarefa) && dbTask.empresa === empresaId && dbTask.squad_id === squadId);
            for (const task of tasksToDelete) {
                const deletionResult = await deleteTarefa(task.id);
            }

            const asanaTaskNamesConc = asanaConcluidas.map(task => task.tarefa);
            const tasksToDeleteConc = dbTasksConc.filter(dbTasksConc => !asanaTaskNamesConc.includes(dbTasksConc.tarefa) && dbTasksConc.empresa === empresaId && dbTasksConc.squad_id === squadId);
            for (const task of tasksToDeleteConc) {
                const deletionResultConc = await deleteTarefaConcluidos(task.id);
            }
        }



        async function registerTasksInDatabase(tasks) {
            for (let task of tasks) {
                const verificaExistencia = await fetch('/verificar_tarefa_existente', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ tarefa: task })
                });

                const verificaResposta = await verificaExistencia.json();


                if (verificaResposta.existe) {
                    continue;
                }

                const response = await fetch('/cadastrar_tarefas_atuais', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ tarefas: [task] })
                });

                const responseData = await response.json();

                console.log(`Resultado da chamada /cadastrar_tarefas_atuais para tarefa:`, task, responseData);

                if (!responseData.success) {
                    console.error(`Erro ao adicionar tarefa: ${responseData.error}`);
                }
            }

        }



        async function fetchAsanaTasks() {
            const plataforma = localStorage.getItem('plataformaAsana');
            console.log("Plataforma:", plataforma);

            const empresasTokens = JSON.parse(localStorage.getItem('empresasTokens'));
            console.log("Empresas Tokens:", empresasTokens);

            const allTasks = [];
            const empresaId = await fetchEmpresaId();
            console.log("Empresa ID:", empresaId);

            const squadId = await fetchSquadId();
            console.log("Squad ID:", squadId);

            const responseEmpresaName = await fetch(`/get_empresa_name?id=${empresaId}`);
            const empresaNameData = await responseEmpresaName.json();
            const nomeEmpresa = empresaNameData.nome;
            console.log("Nome Empresa:", nomeEmpresa);

            async function getSquadId(squadName, empresaName) {
                const response = await fetch('/get_squad_id?squad_name=' + encodeURIComponent(squadName) + '&empresa_name=' + encodeURIComponent(empresaName));
                const data = await response.json();
                console.log("Data from getSquadId:", data);
                return data.success ? data.squad_id : null;
            }

            const empresa = empresasTokens.find(e => e.nome === nomeEmpresa);
            console.log(empresa)
            if (empresa) {
                const projectsResponse = await fetch(`https://app.asana.com/api/1.0/workspaces/${empresa.workspace}/projects?archived=false`, {
                    method: 'GET',
                    headers: {
                        'Authorization': empresa.token,
                        'Accept': 'application/json'
                    }
                });
                const projectsData = await projectsResponse.json();
                console.log(projectsData)
                projectsGid = projectsData.data[0].gid
                projectsName = projectsData.data[0].name
                console.log(projectsName)

                if (projectsGid) {

                    const sectionsResponse = await fetch(`https://app.asana.com/api/1.0/projects/${projectsGid}/sections`, {
                        method: 'GET',
                        headers: {
                            'Authorization': empresa.token,
                            'Accept': 'application/json'
                        }
                    });
                    const sectionsData = await sectionsResponse.json();
                    console.log("Sections Data:", sectionsData);

                    const completedTasksSection = sectionsData.data.find(section => section.name === "Tarefas em andamento");
                    console.log("Completed Tasks Section:", completedTasksSection);

                    if (completedTasksSection) {

                        const tasksResponse = await fetch(`https://app.asana.com/api/1.0/sections/${completedTasksSection.gid}/tasks`, {
                            method: 'GET',
                            headers: {
                                'Authorization': empresa.token,
                                'Accept': 'application/json'
                            }
                        });
                        const tasksData = await tasksResponse.json();
                        console.log("Tasks Data:", tasksData);

                        for (const task of tasksData.data) {
                            const taskDetailResponse = await fetch(`https://app.asana.com/api/1.0/tasks/${task.gid}`, {
                                method: 'GET',
                                headers: {
                                    'Authorization': empresa.token,
                                    'Accept': 'application/json'
                                }
                            });
                            const taskDetailData = await taskDetailResponse.json();
                            console.log("Task Detail Data:", taskDetailData);

                            const subtasksResponse = await fetch(`https://app.asana.com/api/1.0/tasks/${task.gid}/subtasks`, {
                                method: 'GET',
                                headers: {
                                    'Authorization': empresa.token,
                                    'Accept': 'application/json'
                                }
                            });
                            const subtasksData = await subtasksResponse.json();
                            console.log("Subtasks Data:", subtasksData);

                            const squadIdFromFunction = await getSquadId(projectsName, empresa.nome);
                            console.log("Squad ID from Function:", squadIdFromFunction);

                            if (squadIdFromFunction) {
                                allTasks.push({
                                    empresa: empresa.nome,
                                    subtarefas: subtasksData.data.map(subtask => subtask.name),
                                    squad_name: projectsName,
                                    squad_id: squadIdFromFunction,
                                    tarefa: taskDetailData.data.name
                                });
                            }
                        }
                    }
                }
            }

            console.log("All tasks:", allTasks);
            return allTasks;
        }



        async function fetchAsanaTasksConcluidas() {
            const plataforma = localStorage.getItem('plataformaAsana');
            console.log("Plataforma:", plataforma);

            const empresasTokens = JSON.parse(localStorage.getItem('empresasTokens'));
            console.log("Empresas Tokens:", empresasTokens);

            const allTasks = [];
            const empresaId = await fetchEmpresaId();
            console.log("Empresa ID:", empresaId);

            const squadId = await fetchSquadId();
            console.log("Squad ID:", squadId);

            const responseEmpresaName = await fetch(`/get_empresa_name?id=${empresaId}`);
            const empresaNameData = await responseEmpresaName.json();
            const nomeEmpresa = empresaNameData.nome;
            console.log("Nome Empresa:", nomeEmpresa);

            async function getSquadId(squadName, empresaName) {
                const response = await fetch('/get_squad_id?squad_name=' + encodeURIComponent(squadName) + '&empresa_name=' + encodeURIComponent(empresaName));
                const data = await response.json();
                console.log("Data from getSquadId:", data);
                return data.success ? data.squad_id : null;
            }

            const empresa = empresasTokens.find(e => e.nome === nomeEmpresa);
            console.log(empresa)
            if (empresa) {
                const projectsResponse = await fetch(`https://app.asana.com/api/1.0/workspaces/${empresa.workspace}/projects?archived=false`, {
                    method: 'GET',
                    headers: {
                        'Authorization': empresa.token,
                        'Accept': 'application/json'
                    }
                });
                const projectsData = await projectsResponse.json();
                projectsGid = projectsData.data[0].gid
                projectsName = projectsData.data[0].name
                console.log(projectsName)

                if (projectsGid) {

                    const sectionsResponse = await fetch(`https://app.asana.com/api/1.0/projects/${projectsGid}/sections`, {
                        method: 'GET',
                        headers: {
                            'Authorization': empresa.token,
                            'Accept': 'application/json'
                        }
                    });
                    const sectionsData = await sectionsResponse.json();
                    console.log("Sections Data:", sectionsData);

                    const completedTasksSection = sectionsData.data.find(section => section.name === "Tarefas concluídas");
                    console.log("Completed Tasks Section:", completedTasksSection);

                    if (completedTasksSection) {

                        const tasksResponse = await fetch(`https://app.asana.com/api/1.0/sections/${completedTasksSection.gid}/tasks`, {
                            method: 'GET',
                            headers: {
                                'Authorization': empresa.token,
                                'Accept': 'application/json'
                            }
                        });
                        const tasksData = await tasksResponse.json();
                        console.log("Tasks Data:", tasksData);

                        for (const task of tasksData.data) {
                            const taskDetailResponse = await fetch(`https://app.asana.com/api/1.0/tasks/${task.gid}`, {
                                method: 'GET',
                                headers: {
                                    'Authorization': empresa.token,
                                    'Accept': 'application/json'
                                }
                            });
                            const taskDetailData = await taskDetailResponse.json();
                            console.log("Task Detail Data:", taskDetailData);

                            const subtasksResponse = await fetch(`https://app.asana.com/api/1.0/tasks/${task.gid}/subtasks`, {
                                method: 'GET',
                                headers: {
                                    'Authorization': empresa.token,
                                    'Accept': 'application/json'
                                }
                            });
                            const subtasksData = await subtasksResponse.json();
                            console.log("Subtasks Data:", subtasksData);

                            const squadIdFromFunction = await getSquadId(projectsName, empresa.nome);
                            console.log("Squad ID from Function:", squadIdFromFunction);

                            if (squadIdFromFunction) {
                                allTasks.push({
                                    empresa: empresa.nome,
                                    subtarefas: subtasksData.data.map(subtask => subtask.name),
                                    squad_name: projectsName,
                                    squad_id: squadIdFromFunction,
                                    tarefa: taskDetailData.data.name
                                });
                            }
                        }
                    }
                }
            }

            console.log("All tasks:", allTasks);
            return allTasks;
        }


        async function registerTasksInDatabaseConcluidos(tasks) {
            for (let task of tasks) {
                const verificaExistencia = await fetch('/verificar_tarefa_concluida_existente', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ tarefa: task })
                });
                const verificaResposta = await verificaExistencia.json();
                if (verificaResposta.existe) {
                    continue;
                }

                const response = await fetch('/cadastrar_tarefas_concluidas', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ tarefas: [task] })
                });
                const responseData = await response.json();
                if (!responseData.success) {
                    console.error(`Erro ao adicionar tarefa: ${responseData.error}`);
                }
            }
        }


        async function fetchTarefasAtuais() {
            const response = await fetch('/get_tarefas_atuais');
            return response.json();
        }

        async function fetchTarefasFinalizadas() {
            const response = await fetch('/get_tarefas_concluidas');
            return response.json();
        }

        async function deleteTarefa(id) {
            const url = '/deletar_tarefa/' + id;
            const response = await fetch(url, { method: 'POST' });
            return response.ok;
        }

        async function deleteTarefaConcluidos(id) {
            const url = '/deletar_tarefa_concluida/' + id;
            const response = await fetch(url, { method: 'POST' });
            return response.ok;
        }

        function salvarDadosNoLocalStorage() {
            const empresaDropdown = document.getElementById('empresa_id');
            const squadDropdown = document.getElementById('squad_id');
            const empresaName = empresaDropdown.options[empresaDropdown.selectedIndex].text;
            const squadName = squadDropdown.options[squadDropdown.selectedIndex].text;

            localStorage.setItem('empresaName', empresaName);
            localStorage.setItem('squadName', squadName);
        }

        async function fetchEmpresaId() {
            const empresaName = localStorage.getItem('empresaName');

            try {
                const response = await fetch(`/get_empresaId?empresa_name=${encodeURIComponent(empresaName)}`);
                const data = await response.json();
                if (data.success) {
                    return data.empresa_id;
                } else {
                    console.error('Erro ao obter empresa_id:', data.error);
                    return null;
                }
            } catch (error) {
                console.error('Erro ao fazer a requisição:', error);
                return null;
            }
        }

        async function fetchSquadId() {
            const squadName = localStorage.getItem('squadName');
            const empresaName = localStorage.getItem('empresaName');

            try {
                const response = await fetch(`/get_squad_id?squad_name=${encodeURIComponent(squadName)}&empresa_name=${encodeURIComponent(empresaName)}`);
                const data = await response.json();
                if (data.success) {
                    return data.squad_id;
                } else {
                    console.error('Erro ao obter squad_id:', data.error);
                    return null;
                }
            } catch (error) {
                console.error('Erro ao fazer a requisição:', error);
                return null;
            }
        }

        async function deleteAsanaTasksFromSection() {
            const squadName = localStorage.getItem('squadName');
            const empresaName = localStorage.getItem('empresaName');
            const empresasTokens = JSON.parse(localStorage.getItem('empresasTokens'));

            const empresa = empresasTokens.find(e => e.nome === empresaName);
            if (!empresa) {
                console.error(`Token para a empresa ${empresaName} não encontrado.`);
                return;
            }

            const projectsResponse = await fetch(`https://app.asana.com/api/1.0/workspaces/${empresa.workspace}/projects`, {
                headers: {
                    'Authorization': empresa.token
                }
            });

            const projectsData = await projectsResponse.json();
            console.log(projectsData)
            const project = projectsData.data.find(p => p.name === squadName);
            if (!project) {
                console.error(`Projeto para a empresa ${empresaName} não encontrado.`);
                return;
            }

            const projectID = project.gid;

            const sectionsResponse = await fetch(`https://app.asana.com/api/1.0/projects/${projectID}/sections`, {
                method: 'GET',
                headers: {
                    'Authorization': empresa.token,
                    'Accept': 'application/json'
                }
            });

            const sectionsData = await sectionsResponse.json();
            const metasSection = sectionsData.data.find(section => section.name === "Meta semanal e Tarefas");
            if (metasSection) {
                const tasksResponse = await fetch(`https://app.asana.com/api/1.0/sections/${metasSection.gid}/tasks`, {
                    method: 'GET',
                    headers: {
                        'Authorization': empresa.token,
                        'Accept': 'application/json'
                    }
                });

                const tasksData = await tasksResponse.json();
                for (const task of tasksData.data) {
                    await fetch(`https://app.asana.com/api/1.0/tasks/${task.gid}`, {
                        method: 'DELETE',
                        headers: {
                            'Authorization': empresa.token,
                            'Accept': 'application/json'
                        }
                    });
                }
            }

        }




        async function getSections(projectID) {
            const url = `https://app.asana.com/api/1.0/projects/${projectID}/sections`;
            const response = await fetch(url, {
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3'
                }
            });
            const data = await response.json();
            return data.data;
        }

        window.onload = function() {
            // Inicializar a variável empresasTokens no localStorage
            const empresasTokens = [
            {
                nome: "Sette7",
                token: 'Bearer 1/1202777718375879:371b46e1e900b0e9d5f88933929c6770',
                workspace: '1205278753339325',
                team: '1205278753339327'
            },
            {
                nome: "ES360",
                token: 'Bearer 1/1150237826145564:8aa093214a72b8a8c73eff3cb5a777ac',
                workspace: '16363265495050',
                team: '1205288598041717'
              },
              {
                nome: "Bizarte",
                token: 'Bearer 1/1202777718375879:371b46e1e900b0e9d5f88933929c6770',
                workspace: '1205346334659692',
                team: '1205346334659694'
              },
              {
                nome: "Fabricio Noronha",
                token: 'Bearer 1/1202777718375879:371b46e1e900b0e9d5f88933929c6770',
                workspace: '1205378427861979',
                team: '1205378427861981'
              },
              {
                nome: "Colégio Mopi",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205380996045685',
                team: '1205380996045687'
              },
              {
                nome: "Acontece Portal de Noticias",
                token: 'Bearer 1/1202777718375879:371b46e1e900b0e9d5f88933929c6770',
                workspace: '1205385688547984',
                team: '1205385688547986'
              },
              {
                nome: "Rafael Wolak",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205407478863640',
                team: '1205407478863642'
              },
              {
                nome: "Ciclo Organico",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205427390711884',
                team: '1205427390711886'
              },
              {
                nome: "Raul Oliveira",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205479312230476',
                team: '1205479312230478'
              },
              {
                nome: "Big Big Material de Construção",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205499842562298',
                team: '1205499842562300'
              },
              {
                nome: "Vila Recreio",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205540470200318',
                team: '1205540470200320'
              },
              {
                nome: "kkkkkkkkkkkkkkkkkkkkkkkkkk",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205540470200318',
                team: '1205540470200320'
              }]
            localStorage.setItem('empresasTokens', JSON.stringify(empresasTokens));
        };


        async function executeTasksInOrder() {

        const metasData = await gerarTarefasEMetas();
        const metas = metasData && metasData.data ? metasData.data : [];

        if (metas && metas.length) {
            console.log(metas);
            await registerMetasInDatabase(metas);
            await fetchAsanaTasksAndCompare();
            await deleteAsanaTasksFromSection()
            await createTasksFromTable(metas);
        } else {
            alert("Erro ao gerar as tarefas!")
            console.error('No metas data returned from gerarTarefasEMetas.');
        }

        }

        async function registerMetasInDatabase(metas) {
            try {
                const response = await fetch('/register_metas', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(metas)
                });
                if (!response.ok) {
                    throw new Error('Failed to register metas in database');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }

        async function gerarTarefasEMetas() {
            const empresaId = await fetchEmpresaId();
            const squadId = await fetchSquadId();

            if (!squadId || !empresaId) {
                console.error('Não foi possível obter o Squad ID ou Empresa ID');
                return null;
            }

            const data = {
                'empresa_id': empresaId,
                'squad_id': squadId
            };

            try {
                const response = await fetch('/gerar_tarefas_metas_semanais_novo', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                console.log('Status da resposta:', response.status);

                if (response.ok) {
                    const responseData = await response.json();
                    console.log('Dados da resposta:', responseData);
                    return responseData;
                } else {
                    const responseText = await response.text();
                    console.error('Erro ao gerar tarefas e metas semanais:', responseText);
                    return null;
                }
            } catch (error) {
                console.error('Erro ao fazer a chamada fetch:', error);
                return null;
            }
        }




        async function fetchTarefasByEmpresaAndSquad(empresaName, squadName) {
            const response = await fetch(`/listar_tarefas?empresa=${empresaName}&squad_name=${squadName}`);
            if (response.ok) {
                console.log(response)
                return await response.json();
            } else {
                console.error("Erro ao buscar tarefas.");
                return [];
            }
        }


        async function createTasksFromTable(metas) {
            const squadName = localStorage.getItem('squadName');
            const empresaName = localStorage.getItem('empresaName');
            const empresasTokens = JSON.parse(localStorage.getItem('empresasTokens'));

            const empresa = empresasTokens.find(e => e.nome === empresaName);
            if (!empresa) {
                console.error(`Token para a empresa ${empresaName} não encontrado.`);
                return;
            }

            const projectsResponse = await fetch(`https://app.asana.com/api/1.0/workspaces/${empresa.workspace}/projects`, {
                headers: {
                    'Authorization': empresa.token
                }
            });

            const projectsData = await projectsResponse.json();
            console.log(projectsData)
            const project = projectsData.data.find(p => p.name === squadName);
            if (!project) {
                console.error(`Projeto para a empresa ${empresaName} não encontrado.`);
                return;
            }

            const projectID = project.gid;
            const sections = await getSections(projectID);
            const targetSection = sections.find(section => section.name === "Meta semanal e Tarefas");

            for (const task of metas) {
                const url = "https://app.asana.com/api/1.0/tasks";
                const data = {
                    "data": {
                        "name": task.tarefa,
                        "notes": task.meta_semanal,
                        "projects": [projectID]
                    }
                };

                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': empresa.token
                    },
                    body: JSON.stringify(data)
                });

                const responseData = await response.json();
                if (responseData.data && responseData.data.gid) {
                    const taskID = responseData.data.gid;
                    const moveUrl = `https://app.asana.com/api/1.0/sections/${targetSection.gid}/addTask`;
                    const moveData = {
                        "data": {
                            "task": taskID
                        }
                    };

                    await fetch(moveUrl, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': empresa.token
                        },
                        body: JSON.stringify(moveData)
                    });

                    console.log(`Tarefa '${task.tarefa}' inserida no Asana com sucesso.`);
                }
            }
        }

        async function getSections(projectID) {
            const empresaNome = localStorage.getItem('empresaSelecionada');
            const empresaObj = empresasTokens.find(e => e.nome === empresaNome);

            if (!empresaObj) {
                console.error("Empresa não encontrada no array empresasTokens.");
                return [];
            }

            const url = `https://app.asana.com/api/1.0/projects/${projectID}/sections`;
            const response = await fetch(url, {
                method: 'GET',
                headers: {
                    'Authorization': empresaObj.token
                }
            });
            const data = await response.json();
            return data.data;
        }



        function salvarEmpresa() {
            const empresaSelect = document.getElementById('empresa_id');
            const empresaNome = empresaSelect.options[empresaSelect.selectedIndex].text;

            localStorage.setItem('empresaSelecionada', empresaNome);
        }

        async function executeFunctions(event) {
            const empresasTokens = [
            {
                nome: "Sette7",
                token: 'Bearer 1/1202777718375879:371b46e1e900b0e9d5f88933929c6770',
                workspace: '1205278753339325',
                team: '1205278753339327'
            },
            {
                nome: "ES360",
                token: 'Bearer 1/1150237826145564:8aa093214a72b8a8c73eff3cb5a777ac',
                workspace: '16363265495050',
                team: '1205288598041717'
              },
              {
                nome: "Bizarte",
                token: 'Bearer 1/1202777718375879:371b46e1e900b0e9d5f88933929c6770',
                workspace: '1205346334659692',
                team: '1205346334659694'
              },
              {
                nome: "Fabricio Noronha",
                token: 'Bearer 1/1202777718375879:371b46e1e900b0e9d5f88933929c6770',
                workspace: '1205378427861979',
                team: '1205378427861981'
              },
              {
                nome: "Colégio Mopi",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205380996045685',
                team: '1205380996045687'
              },
              {
                nome: "Acontece Portal de Noticias",
                token: 'Bearer 1/1202777718375879:371b46e1e900b0e9d5f88933929c6770',
                workspace: '1205385688547984',
                team: '1205385688547986'
              },
              {
                nome: "Rafael Wolak",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205407478863640',
                team: '1205407478863642'
              },
              {
                nome: "Ciclo Organico",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205427390711884',
                team: '1205427390711886'
              },
              {
                nome: "Raul Oliveira",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205479312230476',
                team: '1205479312230478'
              },
              {
                nome: "Big Big Material de Construção",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205499842562298',
                team: '1205499842562300'
              },
              {
                nome: "Vila Recreio",
                token: 'Bearer 1/1205186190607018:e6e9bff4bf54b04e712d5ab8a248d8e3',
                workspace: '1205540470200318',
                team: '1205540470200320'
              }]

              localStorage.setItem('empresasTokens', JSON.stringify(empresasTokens));

            event.preventDefault();
            await fetchAsanaKRs();
            salvarDadosNoLocalStorage();
            runAsanaFunctions(event);
        }

    </script>
</head>

<body onload="updateSquads();">
    <h2>Montar Sprint da Semana - 1</h2>
    <form action="/montar_sprint_semana" method="post" onsubmit="executeFunctions(event);">
        <div>
            <label for="empresa_id">Selecione a Empresa:</label>
            <select name="empresa_id" id="empresa_id" onchange="updateSquads()">
                {% for empresa in empresas %}
                <option value="{{ empresa.id }}">{{ empresa.nome_contato }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="squad_id">Selecione o Squad:</label>
            <select name="squad_id" id="squad_id"></select>
        </div>
        <input type="submit" onclick="salvarEmpresa()" value="Selecionar">
    </form>
    <section>
        <h3>FormsObjetivos</h3>
        <ul>
            {% for obj in forms_objetivos %}
            <li>ID: {{ obj.id }} - Data: {{ obj.data }}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>OKRs</h3>
        <ul>
            {% for okr in okrs %}
            <li>ID: {{ okr.id }} - Objetivo: {{ okr.objetivo }} - Data Início: {{ okr.data_inicio }} - Data Fim: {{ okr.data_fim }}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>KRs</h3>
        <ul>
            {% for kr in krs %}
            <li>ID: {{ kr.id }} - Texto: {{ kr.texto }} - Meta: {{ kr.meta }} - Data Inclusão: {{ kr.data_inclusao }}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>MacroAcoes</h3>
        <ul>
            {% for ma in macroacoes %}
            <li>ID: {{ ma.id }} - Texto: {{ ma.texto }} - Data Inclusão: {{ ma.data_inclusao }}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>Tarefas Em Andamento</h3>
        <ul>
            {% for tarefa in tarefas_andamento %}
            <li>ID: {{ tarefa.id }} - Tarefa: {{ tarefa.tarefa }} - Data Inclusão: {{ tarefa.data_inclusao }}
                <ul>
                    {% for subtarefa in tarefa.subtarefas %}
                    <li>Subtarefa: {{ subtarefa }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>Tarefas Finalizadas</h3>
        <ul>
            {% for tarefa in tarefas_finalizadas %}
            <li>Tarefa: {{ tarefa.tarefa }} - Data Inclusão: {{ tarefa.data_inclusao }} - Data Conclusão: {{ tarefa.data_conclusao }}
                <ul>
                    {% for subtarefa in tarefa.subtarefas %}
                    <li>Subtarefa: {{ subtarefa }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </section>
    <button onclick="executeTasksInOrder()">OK</button>
</body>

</html>
{% endblock %}