{% extends "base.html" %}



{% block content %}
    <h1>Listar Sugestões de KR's</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Objetivo</th>
                <th>Empresa</th>
                <th>Squad</th>
                <th>KR</th>
                <th>Meta</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for sugestao in sugestoes %}
                <tr>
                    <td>{{ sugestao.objetivo }}</td>
                    <td>{{ sugestao.empresa.nome_contato }}</td>
                    <td>{{ sugestao.squad.nome_squad }}</td>
                    <td>{{ sugestao.KR }}</td>
                    <td>{{ sugestao.meta }}</td>
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#approveModal" data-objetivo="{{ sugestao.id }}">Aprovar</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-objetivo="{{ sugestao.id }}">Deletar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{ url_for('enviar_krs_feedback_chat_gpt', empresa_id=empresa_id, squad_id=squad_id) }}" method="post">
        <label for="feedback">Digite seu feedback:</label>
        <textarea id="feedback" name="feedback"></textarea>
        <button type="submit">OK</button>
    </form>
    <!-- Modal para Deletar -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Deletar KR</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="deleteForm" method="post">
                    <div class="modal-body" id="deleteContent">
                        Tem certeza de que deseja deletar este KR?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger" id="deleteKrButton">Deletar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal para Aprovar -->
    <div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="approveModalLabel">Aprovar KR</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="approveForm" method="post">
                    <div class="modal-body" id="approveContent">
                        Tem certeza de que deseja aprovar este KR?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success" id="approveKrButton">Aprovar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var objetivoId = button.data('objetivo');
            var action = "{{ url_for('deletar_kr_sugestao_gpt', kr_id=0) }}".replace('0', objetivoId);
            $('#deleteForm').attr('action', action);
        });
        $('#approveModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var objetivoId = button.data('objetivo');
            var action = "{{ url_for('aprovar_kr_sugestao_gpt', kr_id=0) }}".replace('0', objetivoId);
            $('#approveForm').attr('action', action);
        });
    </script>
{% endblock %}
