{% extends "base.html" %}

{% block content %}
    <h1>KRs</h1>
    <a class="btn" href="{{ url_for('cadastrar_kr') }}">Cadastrar novo KR</a>
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Empresa</th>
                <th>Squad</th>
                <th>Objetivo</th>
                <th>KR</th>
                <th>Meta</th>
                <th>Data de inclusão</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for kr in krs %}
            <tr>
                <td>{{ kr.id }}</td>
                <td>{{ kr.okr.empresa.nome_contato }}</td>
                <td>{{ kr.squad.nome_squad }}</td>
                <td>{{ kr.okr.objetivo }}</td>
                <td>{{ kr.texto }}</td>
                <td>{{ kr.meta }}</td>
                <td>{{ kr.data_inclusao }}</td>
                <td>
                    <a href="{{ url_for('atualizar_kr', id=kr.id) }}" class="btn btn-primary">Atualizar</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{kr.id}}">Deletar</button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{kr.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Deletar KR</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Tem certeza que deseja deletar este KR?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                                    <form action="{{ url_for('deletar_kr', id=kr.id) }}" method="POST">
                                        <input type="submit" class="btn btn-danger" value="Sim, deletar">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
